  <div class="meal-form" *ngIf="data$ | async as data">

  <h2>🍽️ Saat ve Yemek Seç!</h2>

  <label for="time">Saat:</label>
  <input (input)="onDateInput($event)" type="datetime-local" />

  <label for="count">Yediğiniz porsiyon sayısı:</label>
  <input [(ngModel)]="currentMealEntry.count" type="number" />

  <label for="meal">Yemek:</label>
  <select (change)="onSelectMeal($event)">
    <option *ngFor="let meal of getAllMeals()" [value]="meal.id">{{ meal.name }}</option>
  </select>


  <div *ngIf="data$ | async as data">
    <button (click)="addMeal()" [disabled]="!currentMealEntry.meal || currentMealEntry.count === null || !currentMealEntry.timestamp">
      <i class="fas fa-plus-circle"></i> Add
    </button>

    <button class="reset-button" (click)="resetMeals()">
      <i class="fas fa-trash"></i> Günü Sıfırla
    </button>

    <hr>

  <h3>Günlük</h3>
  <div>
    <p><strong>Total Pürin:</strong> {{ getTotalPurine(data) }} mg</p>
    <p><strong>Yorum:</strong> {{ getComment(data) }}</p>
  </div>
</div>
