@let data = (data$ | async);

<div class="meal-form" *ngIf="data">
  <h2>Saat ve Yemek Seç!</h2>

  <label for="time">Saat:</label>
  <input (input)="onDateInput($event)" type="datetime-local" />

  <label for="time">Yediğiniz porsiyon sayısı:</label>
  <input [(ngModel)]="currentMealEntry.count" type="number" />

  <label for="meal">Yemek:</label>
  <select (change)="onSelectMeal($event)">
    <option *ngFor="let meal of getAllMeals()" [value]="meal.id">{{ meal.name }}</option>
  </select>

  <div *ngIf="currentMealEntry.meal && currentMealEntry.count && currentMealEntry.timestamp; else error">
    <button (click)="addMeal(currentMealEntry.meal.id, currentMealEntry.count, currentMealEntry.timestamp)">➕ Add</button>
  </div>

  <ng-template #error>
    <p>{{ currentMealEntry.meal?.id }}</p>
    <p>Lütfen tarihi, yediğiniz yemeği ve yediğiniz porsiyon sayısını doldurun.</p>
  </ng-template>

  <hr>
  <h3>Günlük</h3>

  <div>
    <p><strong>Total Pürin:</strong> {{ getTotalPurine(data) }} mg</p>
    <p><strong>Yorum:</strong> {{ getComment(data) }}</p>
  </div>
</div>
